<style amp-custom>
	body {margin: 0;font-family: 'Georgia', Serif;}
	.brand-logo {font-family: 'Open Sans';}
	.brand-logo a{text-decoration:none;}
	.ad-container {display: flex;justify-content: center;}
	.node p {line-height: 24px;}
	.node .field {padding: 5px 15px;}
	.node .field.field-name-body {padding: 0px 15px;}
	.node .field.field-name-field-image {padding: 15px 0px;}
	header,.article-body {padding: 15px;}
	.lightbox {background: #222;}
	.full-bleed {margin: 0 -15px;}
	.lightbox-content {position: absolute;top: 0;left: 0;right: 0;bottom: 0;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: center;align-items: center;}
	.lightbox-content p {color: #fff;padding: 15px;}
	.lightbox amp-img {width: 100%;}
	figure {margin: 0;}
	figcaption {color: #6f757a;padding: 15px 0;font-size: .9em;}
	.author {display: flex;align-items: center;background: #f4f4f4;padding: 0 15px;font-size: .8em;border: solid #dcdcdc;border-width: 1px 0;}
	.node .field.field-name-post-date {color: #a8a3ae;font-family: 'Roboto';font-size: 12px;}
	.author p {margin: 5px;}.byline {font-family: 'Roboto';display: inline-block;}
	.byline p {line-height: normal;}.byline .brand {color: #6f757a;}
	.standfirst {color: #6f757a;}.mailto {text-decoration: none;}
	#author-avatar {margin: 10px;border: 5px solid #fff;width: 50px;height: 50px;border-radius: 50%;}
	h1, h2 {margin: 5px 0;font-weight: normal;}
	h2 {font-size: 20px;}
	footer {display: flex;align-items: center;justify-content: center;height: 226px;background: #f4f4f4;}
	hr {margin: 0;}
	amp-img {background-color: #f4f4f4;}
</style>